* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto';
}

.hero-shadow{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    z-index: -1;
}

.orange-color{
    color: rgb(255, 93, 35);
}


nav{
    .fas.fa-bars{
        font-size: 3rem;
    }

     .navbar-brand{
        font-size: 1.6rem;
        font-weight: 700;

        span{
            text-transform: uppercase;
        }
    }

    .navbar-nav{
        display: flex;
        align-items: center;

        .nav-item{
            padding: 10px;
            font-size: 20px;
            text-transform: uppercase;
        }
    }
}

// HEADER
header{
   position: relative;
   height: 100vh;
   background-image: url("../img/manhattan-_1280.jpg");
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   z-index: 0;
}

header .btn{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.header-text{
    font-size: 1.7rem;
}

.display-3{
    margin-top: 4.5rem;
}

// ABOUT
.about-boxes{
    h3{font-size: 2.4rem;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.about-icon{
    font-size: 3rem;
}

p:last-child{
    font-size: 1.4rem;
}